{% extends "base.html" %}
{% block title%} Turn ON LED {% endblock %}
{% block content %}
<main>
        <h1><center>LED CUSTOMIZATION</center></h1> 
        <center>
            <form action="#" method="post">
                <button class="Button" id="red" name="color" value="red" type="submit">Red</button>
            </form>
            <form action="#" method="post">
                <button class="Button" id="orange" name="color" value="orange" type="submit">Orange</button>
            </form>
            <form action="#" method="post">
                <button class="Button" id="yellow" name="color" value="yellow" type="submit">Yellow</button>
            </form>
            <form action="#" method="post">
                <button class="Button" id="green" name="color" value="green" type="submit">Green</button>
            </form>
            <form action="#" method="post">
                <button class="Button" id="blue" name="color" value="blue" type="submit">Blue</button>
            </form>
            <form action="#" method="post">
                <button class="Button" id="violet" name="color" value="violet" type="submit">Violet</button>
            </form>
            <form action="#" method="post">
                <button class="Button" id="gold" name="color" value="gold" type="submit">Gold</button>
            </form>
            <form action="#" method="post">
                <button class="Button" id="clear" name="color" value="clearLED" type="submit">Clear LED</button>
            </form>
        </center> 
    </main>
</form>
{% endblock %}

